# Jangan isi password asli di file example ini.
# Isi credential asli hanya di .env.local

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=alamatgmail@gmail.com
SMTP_PASS=APP_PASSWORD_GMAIL
MAIL_FROM=SmartWork Agent <alamatgmail@gmail.com>
CONFIRM_SEND_EMAIL=NO
